:root{
    --primary-background-color: rgba(30, 37, 43, 1);
    --primary-text-color: rgba(255, 255, 255, 0.55);
    --primary-title-color: rgba(255, 255, 255, 0.8);
    --button-color: rgba(255, 255, 255, 0.78);
    --background-button-color: rgba(255, 110, 48, 1);
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-background-color);
}
.container {
    width: 1224px;
    margin: 0 auto;
}
    /* header */
.header{
    padding-top: 26px;
    padding-bottom: 70px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    content: "";
    margin-right: 21px;
    display: inline-flex;
}
.header-title{
    color: var(--primary-title-color);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
}
.nav-link{
    color: var(--primary-text-color);
}
.nav-list{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    gap: 45px;
}
.header-login-btn{
    color: var(--button-color);
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5px;
    margin-right: 41px;
}
.header-signup-btn{
    color: var(--button-color);
    background-color: var(--background-button-color);
    width: 118px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5px;
    border-radius: 8px;
}
    /* main */ 
    /* hero */
.hero-title{
    color: var(--primary-title-color);
    width: 600px;
    margin-top: 178px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.4;
}
.hero-socials{
    display: flex;
}
.hero-text{
    color: var(--primary-text-color);
    width: 487px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}
.hero-input{
    background-color: rgba(40, 48, 54, 1);
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    border: 1.5px;
}
.hero-btn-search{
    background-color: var(--background-button-color);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    width: 130px;
    height: 48px;
}

.orange{
    color: var(--background-button-color);
}
.hero-container{
    max-width: 600px;
    height: 354px;
    margin-top: 178px;
    margin-left: 108px;
}
.hero-form{
    margin-bottom: 110px;
}
.decoration{
    background-image: url(../pictures/Illustration.png);
    background-repeat: no-repeat;
    height: 892px;
    width: 589px;
    display: inline-block;
}
.hero-form,
.contributors-form {
  width: 498px;
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  padding: 8px 12px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
}
.hero-form {
  margin-bottom: 110px;
}
.hero-input,
.contributors-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--primary-title-color);
  background-color: transparent;
}
.hero-btn-search,
.contributors-button {
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--background-button-color);
  transition: all 0.3s ease;
}

.hero-btn-search:hover,
.contributors-button:hover {
  color: var(--accent-color);
  outline: 1px solid var(--primary-title-color);
  background-color: transparent;
}
.hero-input::placeholder {
  color: var(--input-placeholder-color);
}
.contributor-button::placeholder {
    color: var(--input-placeholder-color);
  }
    /* new tools */
.new-tools-list{
    display: flex;
}
    /* popular */
.popular{
    padding-top: 200px;
    padding-bottom: 200px;
}
.popular-title{
    text-align: center;
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    padding-bottom: 30px;
}
.popular-text{
    height: 60px;
    width: 427px;
    text-align: center;
    margin: auto;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    padding-bottom: 85px;
}
.popular-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 120px;
    column-gap: 25px;
}
.popular-item{
    flex-basis: calc((100% - 50px) / 3);
}
.popular-item-title{
    font-weight: 500;
    color: var(--button-color);
    font-size: 24px;
    line-height: 1.5;
}
.popular-item-category{
    font-weight: 400;
    color: rgba(255, 165, 55, 0.55);
    font-size: 18px;
    line-height: 1.5;
}
.popular-item-description{
    font-weight: 400;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}
.like{
    background-image: url(../pictures/like.svg);
    background-color: transparent;
    height: 42px;
    width: 42px;
    display: inline-block;
}
.download{
    background-image: url(../pictures/download.svg);
    background-color: transparent;
    height: 42px;
    width: 42px;
    display: inline-block;
}
.popular-btn-visit{
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}
.popular-btn-load{
    margin: 0 auto;
    display: block;
    color: var(--background-button-color);
    background-color: rgba(30, 37, 43, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 17px 38px;
    margin-top: 100px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
    /* brand */
.brand-container{
    padding: 82px 56px 56px;
    border-radius: 15px;
    background-image: radial-gradient(
    circle at left top,
    rgba(255, 72, 66, 0.1),
    rgba(44, 53, 61, 0.3),
    rgba(44, 53, 61, 0.2),
    rgba(44, 53, 61, 0.2)
    );

}
.brands-title{
    text-align: center;
    color: var(--primary-title-color);
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
}
.brands-list{
    display: flex;
    justify-content: space-between;
}
    /* new tools */
.new-tools-container{
    padding-bottom: 200px;
}
.new-tools-title{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-top: 220px;
}
.new-tools-desk{
    font-weight: 500;
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 1.7;
    height: 90px;
    width: 427px;
    margin-bottom: 60px;
}
.new-tools-button{
    background-color: var(--background-button-color);
    color: var(--primary-title-color);
    width: 198px;
    height: 58px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}
.new-tools-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
}
.new-tools-item{
    width: 288px;
    height: 284px;
    border-radius: 15px;
    flex-basis:calc((100% - 50px) / 2);
}
.new-tools-subtitle{
    color: var(--button-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
}
.new-tools-category{
    color: rgba(255, 165, 55, 0.55);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}
.new-tools-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 2.1;
    width: 245px;
    height: 60px;
}
.btn-visit{
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}
    /* reviews */
.reviews-container{
    padding-bottom: 263px;
}
.reviews-name{
    color: var(--button-color);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 1.5%;
}
.reviews-position{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.reviews-text{
    color: var(--button-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 2.1;
    width: 393px;
    height: 180px;
}
    /* contributor */
.contributor-container{
    padding-bottom: 310px;
}
.contributor-title{
    text-align: center;
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    padding-bottom: 25px;
}
.contributor-text{
    text-align: center;
    margin: auto;
    padding-bottom: 200px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    width: 427px;
    height: 60px;
}
.contributors-input{
    background-color: rgba(40, 48, 54, 1);
    border-radius: 15px;
    border: solid rgba(255, 255, 255, 0.1);
    width: 549px;
    height: 64px;
}
.contributor-button{
    background-color: var(--background-button-color);
    color: var(--button-color);
    width: 130px;
    height: 48px;
    border-radius: 8px;
}
    /* footer */
.footer-logo{
    background-color: var(--background-button-color);
    margin-right: 12px;
    padding: 8px;
    border-radius: 8px;
}
.footer-title{
    color: var(--primary-title-color);
    font-weight: 600;
    line-height: 1.5;
    font-size: 22px;
}
.footer-text{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.footer-description{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    width: 260px;
    height: 75px;
}
.contact-title{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
.contact-link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.categories-title{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
.categories-item{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.info-title{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
.info-item{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
}
/* swiper */
.swiper {
    width: 1200px;
    /*height: 600px;*/
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--background-button-color);
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: var(--background-button-color);
  }
.reviews-name{
    color: white;
}