:root{
    --primary-background-color: rgba(30, 37, 43, 1);
    --primary-text-color: rgba(255, 255, 255, 0.55);
    --primary-title-color: rgba(255, 255, 255, 0.9);
    --button-color: rgba(255, 255, 255, 0.78);
    --background-button-color: rgba(255, 110, 48, 1);
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-background-color);
}
    /* header */
    /* logo and title */
.box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 1214.74px;
    height: 48px;
}
.header-logo{
    width: 19.38px;
    height: 20.95px;
    margin-top: 13.5px;
}
.header-logo::before{
    content: "";
    display: inline-flex;
}
.title{
    color: var(--primary-title-color);
    width: 90px;
    height: 33px;
    margin-right: auto;
    margin-top: 23.5px;
    margin-left: 21px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5px;
}
    /* nav */
.header-nav-list{
    display: flex;
    justify-content: center;
    color: var(--primary-text-color);
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    gap: 45px;
}
.header-vector{
    background-color: rgba(0, 0, 0, 0);
}
    /* button */
.header-first-btn{
    color: var(--button-color);
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5px;
    margin-left: auto;
    margin-right: 41px;
}
.header-second-btn{
    color: var(--button-color);
    background-color: var(--background-button-color);
    width: 118px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5px;
    border-radius: 8px;
}
    /* main */ 
.hero-title{
    color: var(--primary-title-color);
    width: 600px;
    height: 140px;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.4;
}
.hero-text{
    color: var(--primary-text-color);
    width: 487px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}
.hero-search{
    background-color: rgba(40, 48, 54, 1);
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    border: 1.5px;
}
.hero-button{
    background-color: var(--background-button-color);
    color: rgba(255, 255, 255, 1);
    width: 130.43px;
    height: 48px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}
.orange{
    color: var(--background-button-color);
}
.hero-container{
    max-width: 600px;
    height: 354px;
    margin-top: 178px;
    margin-left: 108px;
}
.hero-search-field{
    display: flex;
}
.main-tools-icon{
    width: 65px;
    height: 63.82px;
}
.main-company-list{
    display: flex;
    gap: 107px;
}
.newcomer-tools-list{
    display: flex;
}
.footer-logo{
    background-color: var(--background-button-color);
    width: 38px;
    height: 38px;
    border-radius: 8px;
}